{% extends "base.html" %}
{% load static %}

{% block extra_title %}Happy And Healty Feets{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                Happy And Healthy Feets
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'shop' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<!-- Code below for treatments snippet and shop snippet adapted from: https://bootsnipp.com/snippets/O54eO -->
<!-- Treatments snippet-->

<div class="container jumbotron bg-white my-3">
    <h2 class="text-center text-uppercase my-5">Treatments</h2>
    <div class="row">
        <div class="col-md-12 col-lg-6 how-img">
            <img src="{{ MEDIA_URL }}treatment2.jpg" class="img-fluid" alt="Picture of spa accessories" />
        </div>
        <div class="col-md-12 col-lg-6">
            <h3>Your feet will carry you all your life!</h3>
            <h4 class="subheading">Here, various treatments are offered in a calm and relaxing atmosphere. </h4>
            <p class="text-muted">You will find high-quality treatments that suit everyone. Well-groomed feet are
                not only healthy, but afterwards the feet feel softer, lighter and more relaxed.
                If you regularly give your feet a foot care treatment, you can prevent many problems and diseases that
                can occur on your feet. If you are diabetic, you should pay extra attention to your feet. Minor injuries
                can lead to bigger problems and foot care is extra important to you. I give you both treatment and
                advice on how you should take care of your feet
            </p>
            <div class="text-center my-5">
                <h4>
                    <a href="{% url 'shop' %}?category=medically_foot_care,wellness_foot_care,seasonal_treatments"
                        class="shop-now-button btn btn-lg rounded-0 text-uppercase py-2">Book
                        Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<!-- Shop snippet-->

<div class="container jumbotron bg-white my-3">
    <h2 class="text-center text-uppercase my-5">Shop</h2>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <h3>Shop everything you need for your feets</h3>
            <h4 class="subheading">We sell various of products for your feets. Everything from socks to calm and
                relaxing products.</h4>
            <p class="text-muted">If you are looking for foot care products such as shoe insoles, foot creams, foot
                files or nail care products, you have come to the right place. We are a company with
                foot care in focus. At the shop, you will find everything you can think of that concerns the
                well-being of your feet, such as shoe insoles, foot files, support socks, foot creams and much more.
            </p>
            <div class="text-center my-5">
                <h4>
                    <a href="{% url 'shop' %}?category=feet_treatment_set,socks,gift_card"
                        class="shop-now-button btn btn-lg rounded-0 text-uppercase py-2">Shop
                        Now</a>
                </h4>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 how-img">
            <img src="{{ MEDIA_URL }}treatment1.jpg" class="img-fluid" alt="Picture of spa accessories" />
        </div>
    </div>
</div>

<!-- Code below for testimonial snippet adapted from: https://bbbootstrap.com/snippets/bootstrap-5-user-testimonial-star-ratings-51527336 -->
<!-- Testimonial snippet -->
<div class="container jumbotron bg-white my-3">
    <h2 class="text-center text-uppercase my-5">Testimonials Carousel</h2>
    <div class="row g-2">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="col-md-12">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row g-2">
                            <div class="col-md-4">
                                <div class="card p-3 text-center px-4">
                                    <div class="user-img">
                                        <img src="{{ MEDIA_URL }}testimonial-p1.jpg" class="rounded-circle" width="80"
                                            alt="Picture of a woman">
                                    </div>
                                    <div class="user-content">
                                        <h3 class="mb-0">Person One</h3>
                                        <p>I have seen several podiatrist and she is by far the best! Was kind, thorough
                                            and offered me a variety of treatment options. Best podiatrist out there!
                                        </p>
                                    </div>
                                    <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card p-3 text-center px-4">
                                    <div class="user-img">
                                        <img src="{{ MEDIA_URL }}testimonial-p2.jpg" class="rounded-circle" width="80"
                                            alt="Picture of a man">
                                    </div>
                                    <div class="user-content">
                                        <h3 class="mb-0">Person Two</h3>
                                        <p>Monica is very professional and kind. She is
                                            very straight forward , caring and approachable. I have been suffering from
                                            foot issues for long time but I am now confident with her care. I would
                                            recommend to see her if you need
                                            good podiatrist from my heart.
                                        </p>
                                    </div>
                                    <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card p-3 text-center px-4">
                                    <div class="user-img">
                                        <img src="{{ MEDIA_URL }}testimonial-p3.jpg" class="rounded-circle" width="80"
                                            alt="Picture of a woman">
                                    </div>
                                    <div class="user-content">
                                        <h3 class="mb-0">Person Three</h3>
                                        <p>Awesome, friendly, knowledgeable, human & caring! Listens and you don't feel
                                            uncomfortable.
                                        </p>
                                    </div>
                                    <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card p-3 text-center px-4">
                                    <div class="user-img">
                                        <img src="{{ MEDIA_URL }}testimonial-p4.jpg" class="rounded-circle" width="80"
                                            alt="Picture of a woman">
                                    </div>
                                    <div class="user-content">
                                        <h3 class="mb-0">Person Four</h3>
                                        <p>Very pleasant experience. Monica was knowledgeable, attentive, thorough,
                                            leaves a very good impression of trust and caring for her patients. I will
                                            recommend to my friends with foot problems.
                                        </p>
                                    </div>
                                    <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card p-3 text-center px-4">
                                    <div class="user-img">
                                        <img src="{{ MEDIA_URL }}testimonial-p5.jpg" class="rounded-circle" width="80"
                                            alt="Picture of a man">
                                    </div>
                                    <div class="user-content">
                                        <h3 class="mb-0">Person Five</h3>
                                        <p>She was good, been to better podiatrist though!
                                        </p>
                                    </div>
                                    <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card p-3 text-center px-4">
                                    <div class="user-img">
                                        <img src="{{ MEDIA_URL }}testimonial-p6.jpg" class="rounded-circle" width="80"
                                            alt="Picture of a woman">
                                    </div>
                                    <div class="user-content">
                                        <h3 class="mb-0">Person Six</h3>
                                        <p>Very friendly and exceptionally knowledgable. Helped solve a problem 3 other
                                            podiatrists could not figure out.
                                        </p>
                                    </div>
                                    <div class="ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                            class="fa fa-star"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}